@import '../../../../index.scss';

.container {
  height: 100%;
  width: 91%;
  background-color: $TAB_BORDER;
  @include flex(row, center, start);
  padding: updatedSize(40) updatedSize(30);
  gap:updatedSize(40);
  .first_container {
    width: 65%;
    // width: 100%;
    @include flex(column, center, center);

    .title_container {
      font-size: $FONT_SIZE_28;
      font-weight: $FONT_WEIGHT_500;
      line-height: updatedSize(50);
      padding-bottom: $Spacing_20;
      width: 100%;
    }

    .description_container {
      @include flex(null,center,center);
      ul {
        padding: 0;
        margin: 0;
        li {
          padding: 0;
          margin: 0;
          list-style: none;
          @include flex(column, center, start);
          
          .green_tick_container {
            @include flex(row, center, start);
            margin-top: 20px;

            .green_tick {
              width: updatedSize(15.5);
              height: updatedSize(10);
              margin-top: $Spacing_5;
            }

            p {
              font-size: $FONT_SIZE_18;
              width: 100%;
              padding:0 10px;
              color: $TAB_POINTS;
              font-weight: $FONT_WEIGHT_400;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .second_container {
    height: 100%;
    width: 30%;
    @include flex(column,center,center);
    // width: 50%;
    .image_styles {
      width: 100%;
      height: updatedSize(427.5);
      border-radius: updatedSize(15);
    }
  }

  /* Set initial state */
  .first_container,
  .second_container {
    opacity: 0;
    transform: translateX(0%);
    transition: all 0.6s ease-in-out;
  }

  /* Left-to-right animation (moving new content in from the right) */
  &.slide-left {
    .first_container,
    .second_container {
      animation: fadeSlideLeft 0.6s ease-in-out forwards;
    }
  }

  /* Right-to-left animation (moving new content in from the left) */
  &.slide-right {
    .first_container,
    .second_container {
      animation: fadeSlideRight 0.6s ease-in-out forwards;
    }
  }

  @keyframes fadeSlideLeft {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeSlideRight {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

//Media Query for Responsivie desigins
@media screen and (max-width:1265px) {
  .container {
        height: 100%;
        width: 91%;
        background-color: $TAB_BORDER;
        @include flex(row, center, start);
        padding: updatedSize(40) updatedSize(30);
        gap:updatedSize(40);
        .first_container {
          width: 60%;
          // width: 100%;
          @include flex(column, center, center);
      
          .title_container {
            font-size: $FONT_SIZE_28;
            font-weight: $FONT_WEIGHT_500;
            line-height: updatedSize(50);
            padding-bottom: $Spacing_20;
            width: 100%;
          }
      
          .description_container {
            @include flex(null,center,center);
            ul {
              padding: 0;
              margin: 0;
              li {
                padding: 0;
                margin: 0;
                list-style: none;
                @include flex(column, center, start);
                
                .green_tick_container {
                  @include flex(row, center, start);
                  margin-top: 20px;
      
                  .green_tick {
                    width: updatedSize(15.5);
                    height: updatedSize(10);
                    margin-top: $Spacing_5;
                  }
      
                  p {
                    font-size: $FONT_SIZE_18;
                    width: 85%;
                    padding:0 10px;
                    color: $TAB_POINTS;
                    font-weight: $FONT_WEIGHT_400;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      
        .second_container {
          height: 353px;
          width: 460px;
          @include flex(column,center,center);
          // width: 50%;
          .image_styles {
            width: 100%;
            border-radius: updatedSize(15);
          }
        }
      
        /* Set initial state */
        .first_container,
        .second_container {
          opacity: 0;
          transform: translateX(0%);
          transition: all 0.6s ease-in-out;
        }
      
        /* Left-to-right animation (moving new content in from the right) */
        &.slide-left {
          .first_container,
          .second_container {
            animation: fadeSlideLeft 0.6s ease-in-out forwards;
          }
        }
      
        /* Right-to-left animation (moving new content in from the left) */
        &.slide-right {
          .first_container,
          .second_container {
            animation: fadeSlideRight 0.6s ease-in-out forwards;
          }
        }
      
        @keyframes fadeSlideLeft {
          from {
            opacity: 0;
            transform: translateX(100%);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
      
        @keyframes fadeSlideRight {
          from {
            opacity: 0;
            transform: translateX(-100%);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
}

@media screen and (max-width:1023px) {
  .container {
        height: 100%;
        width: 91%;
        background-color: $TAB_BORDER;
        @include flex(column, center, start);
        padding: updatedSize(40) updatedSize(30);
        gap:updatedSize(40);
        .first_container {
          order: 2;
          width: 90%;
          // width: 100%;
          @include flex(column, center, center);
      
          .title_container {
            font-size: $FONT_SIZE_28;
            font-weight: $FONT_WEIGHT_500;
            line-height: updatedSize(50);
            padding-bottom: $Spacing_20;
            width: 100%;
          }
      
          .description_container {
            @include flex(null,center,center);
            ul {
              padding: 0;
              margin: 0;
              li {
                padding: 0;
                margin: 0;
                list-style: none;
                @include flex(column, center, start);
                
                .green_tick_container {
                  @include flex(row, center, start);
                  margin-top: 20px;
      
                  .green_tick {
                    width: updatedSize(15.5);
                    height: updatedSize(10);
                    margin-top: $Spacing_5;
                  }
      
                  p {
                    font-size: $FONT_SIZE_18;
                    width: 100%;
                    padding:0 10px;
                    color: $TAB_POINTS;
                    font-weight: $FONT_WEIGHT_400;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      
        .second_container {
          order:1;
          height: 353px;
          width: 460px;
          @include flex(column,center,center);
          // width: 50%;
          .image_styles {
            width: 100%;
            border-radius: updatedSize(15);
          }
        }
      
        /* Set initial state */
        .first_container,
        .second_container {
          opacity: 0;
          transform: translateX(0%);
          transition: all 0.6s ease-in-out;
        }
      
        /* Left-to-right animation (moving new content in from the right) */
        &.slide-left {
          .first_container,
          .second_container {
            animation: fadeSlideLeft 0.6s ease-in-out forwards;
          }
        }
      
        /* Right-to-left animation (moving new content in from the left) */
        &.slide-right {
          .first_container,
          .second_container {
            animation: fadeSlideRight 0.6s ease-in-out forwards;
          }
        }
      
        @keyframes fadeSlideLeft {
          from {
            opacity: 0;
            transform: translateX(100%);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
      
        @keyframes fadeSlideRight {
          from {
            opacity: 0;
            transform: translateX(-100%);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
}