@import '../../../index.scss';

.common_container{
  width: 100%;
  height: 100%;
  .input_container {
    width: 100%;
    height: 100%;
    .input{
      width: 100%;
      height: updatedSize(61.2);
      padding: 0 updatedSize(12);
      font-size: $FONT_SIZE_17;
      border-radius: $Spacing_3;
      border: 1px solid $DESCRIPTION;
      outline: none;
      background-color: $BACKGROUND_PRIMARY_B;
    }
    .input::placeholder {
      color: $TEXT_PLACEHOLDER;
      font-weight: $FONT_WEIGHT_400;
    }
  }
  
}